read_update_s3_json_object.json
{
    "Comment": "A Step Function to read, modify, and write a file in S3",
    "StartAt": "GetS3Object",
    "States": {
      "GetS3Object": {
        "Type": "Task",
        "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
        "Parameters": {
          "Bucket": "buckettestedynaoconnectorzxcv",
          "Key": "exemplo.json"
        },
        "ResultPath": "$.s3Result",
        "Next": "ParseJson"
      },
      "ParseJson": {
        "Type": "Pass",
        "Parameters": {
          "parsedBody.$": "States.StringToJson($.s3Result.Body)"
        },
        "ResultPath": "$.jsonContent",
        "Next": "ModifyContent"
      },
      "ModifyContent": {
        "Type": "Map",
        "ItemsPath": "$.jsonContent.parsedBody.body",
        "Iterator": {
          "StartAt": "CheckItem",
          "States": {
            "CheckItem": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.nome",
                  "StringEquals": "Item 4",
                  "Next": "SetCargaFullTrue"
                }
              ],
              "Default": "PassItem"
            },
            "SetCargaFullTrue": {
              "Type": "Pass",
              "Parameters": {
                "nome.$": "$.nome",
                "carga_full": true
              },
              "ResultPath": "$",
              "Next": "PassItem"
            },
            "PassItem": {
              "Type": "Pass",
              "End": true
            }
          }
        },
        "ResultPath": "$.jsonContent.parsedBody.body",
        "Next": "UpdateS3Object"
      },
      "UpdateS3Object": {
        "Type": "Task",
        "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
        "Parameters": {
          "Bucket": "buckettestedynaoconnectorzxcv",
          "Key": "exemplo.json",
          "Body.$": "$.jsonContent.parsedBody"
        },
        "End": true
      }
    }
  }