step_merge.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Origem A",
  "States": {
    "Origem A": {
      "Type": "Pass",
      "Next": "Lista de Nomes",
      "Assign": {
        "primeira": [
          {
            "table_name": "tabela_um",
            "status": "true"
          },
          {
            "table_name": "tabela_dois",
            "status": "true"
          }
        ]
      }
    },
    "Lista de Nomes": {
      "Type": "Pass",
      "Next": "Origem B",
      "Output": "{% $distinct($primeira.table_name) %}",
      "Assign": {
        "referencia": "{% $distinct($primeira.table_name) %}"
      }
    },
    "Origem B": {
      "Type": "Pass",
      "Next": "Map",
      "Assign": {
        "segunda": [
          {
            "table_name": "tabela_dois",
            "status": "false"
          },
          {
            "table_name": "tabela_tres",
            "status": "false"
          },
          {
            "table_name": "tabela_quatro",
            "status": "false"
          }
        ]
      }
    },
    "Map": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Novo ou Antigo?",
        "States": {
          "Novo ou Antigo?": {
            "Type": "Choice",
            "Choices": [
              {
                "Next": "Pass (2)",
                "Condition": "{% $states.input.table_name in $referencia %}"
              }
            ],
            "Default": "Pass (1)"
          },
          "Pass (2)": {
            "Type": "Pass",
            "End": true,
            "Output": {
              "status_arquivo": "antigo",
              "item": "{% $states.input %}"
            }
          },
          "Pass (1)": {
            "Type": "Pass",
            "End": true,
            "Output": {
              "status_arquivo": "novo",
              "item": "{% $states.input %}"
            }
          }
        }
      },
      "Next": "FILTRA ITENS NOVOS",
      "Items": "{% $segunda %}"
    },
    "FILTRA ITENS NOVOS": {
      "Type": "Pass",
      "Next": "Map (1)",
      "Output": "{% $states.input[status_arquivo=\"novo\"] %}"
    },
    "Map (1)": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Remove tag NOVO",
        "States": {
          "Remove tag NOVO": {
            "Type": "Pass",
            "End": true,
            "Output": "{% $states.input.item %}"
          }
        }
      },
      "Next": "merge definitivo"
    },
    "merge definitivo": {
      "Type": "Pass",
      "Output": "{% $append($states.input, $primeira) %}",
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}
